@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

.blueColor{
  background-color: #104259;
}

.yellowTextColor{
  color:#F6AD2B;
}

.yellowBorderColor{
  border-color: #F6AD2B;
}

.blueTextColor{
  color:#104259;
}

.switchColor{
  color: #F6AD2B;
  background-color : #104259;
}

.switchColor:hover{
  background-color: #F6AD2B;
  color : #104259;
}

.backgroundColor{
  background-color: #EDEDED;
}

.gradientBg{
  background: linear-gradient(94deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 98.43%);
}